root = true

[*]
insert_final_newline = true
charset = utf-8

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

# Indentation override for all JS under lib directory
[*.{js, json}]
indent_style = space
indent_size = 2
